<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-control" content="no-store">
    <title>Project Evergreen</title>
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
     <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

     <div class="logo">
        <img src="{% static 'images/plant.jpg' %}" alt="A logo pic of a plant" width = "100" height = "100">
    </div>
</head>

<!-- {% autoescape on %} -->
<body onload="start()">
    <header>
        <h1>Project Evergreen</h1>
        <nav>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="#plant-chat">Plant Chat</a>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Project Evergreen is dedicated to promoting sustainability and environmental awareness. Join our club to make a positive impact on our planet!</p>
        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>If you have any questions or want to join our club, feel free to reach out!</p>
            <p>Join our Discord: <a href="https://discord.com/invite/QMHjt65z7a">https://discord.com/invite/QMHjt65z7a</a></p>
        </section>
    </main>
    
    <section id="plant-chat">
        <h2>Plant Chat</h2>
        <div class="contents">
            <div class="login">
                Registration:
                <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
                    <label>UB Email:
                        <input type="email" name="email"/>
                    </label>
                    <br/>
                    <label>Password:&nbsp;
                        <input type="password" name="password">
                    </label>
                    <br/>
                    <label>Confirm Password:&nbsp;
                        <input type="password" name="confirm password">
                    </label>
                    <input type="submit" value="Post">
                    <br/>
                    <br/>
                </form>

                Login:
                <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                    <label>UB Email:
                        <input type="email" name="email"/>
                    </label>
                    <br/>
                    <label>Password:&nbsp;
                        <input type="password" name="password">
                    </label>
                    <input type="submit" value="Post">
                    <br/>
                </form>
            
                Logout:
                <form action="/logout" method="post" enctype="application/x-www-form-urlencoded">
                    <label>Username:
                        <input type="text" name="username" disabled/>
                    </label>
                    <br/>
                    <label>Password:&nbsp;
                        <input type="password" name="password" disabled>
                    </label>
                    <input type="submit" value="Logout">
                </form>
            </div> 
<!-- 
            <div class="feed">
                <div id="feed-box">
                </div>
        
                <div class="post_form">
                    <hr>
                    <form action="uploadPost" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        Image:
                        <input id="postImage" type="file" name="image upload">
                        <br>
                        Caption:
                        <input id="postCaption" type="text" name="caption">
                        <input type="submit" value="Upload">
                    </form>
                </div>
           
                {% for post in posts %}
                    <div class="feed_posts">
                        <input id="email_username_post" type="text" name={{post.user.email}}>
                        <input id="post_image" type="image" src="{{post.image}}">
                        <input id="post_caption" type="text" name="{{post.caption}}">
                    </div>

                    <div class="likeButton"> 
                        <form action="likePost" method="post" enctype="application/x-www-form-urlencoded">{{post.likes}}<button id="like_button" onclick="likeButton_HTML()">Like</button></label>
                    </div>

                    <div class="dislikeButton"> 
                        <form action="dislikePost" method="post" enctype="application/x-www-form-urlencoded">
                            {{post.likes}}
                            <button id="dislike_button">Un-Like</button>
                        </label>
                    </div>

                    <div class="comment_Post"> 
                        <form action="addComment" method="post" enctype="application/x-www-form-urlencoded">
                            <input id="comment_button" type="text" name="comment">Comment</input>
                        </label>
                    </div>

                    <div class="deleteButton_Post"> 
                        <form action="deletePost" method="delete" enctype="application/x-www-form-urlencoded">
                            <button id="delete_button">X</button>
                        </label>
                    </div>

                    {% for postComment in comments %}
                        <div class="commentSection">
                            <input id="email_username_comments" type="text" name={{postComment.user.email}}>
                            <input id="comment" type="text" name="{{postComment.comment}}">
                        </div>
                        
                        <div class="deleteButton_Comment"> 
                            <form action="deleteComment" method="delete" enctype="application/x-www-form-urlencoded">
                                <button id="delete_comment">X</button>
                            </label>
                        </div>
                    {% endfor %}  
                {% endfor %}
            </div>
        </div>
    </section> -->

    <script src="{% static 'js/functions.js' %}"></script>
</body>
<!-- {% endautoescape %} -->
</html>
